[Unit]
Description=Domoticz Home Automation Server
After=syslog.target network.target time-sync.target

[Service]
User=domoticz
Group=domoticz
EnvironmentFile=/etc/sysconfig/domoticz
ExecStart=/usr/bin/domoticz -f $DOMOTICZ_CONF
WorkingDirectory=@DOMOTICZ_DIR@
# Give the right to open priviliged ports. This allows you to run on a port <1024 without root permissions (user/group setting above)
#CapabilityBoundingSet=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
